.block__progress-page {
    .parallax-bgimg-1, .parallax-bgimg-2 {
	    position: relative;
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

	.parallax-bgimg-1 {
	    background-image: url(assets/images/we_worldwide/parallax/progress-1.jpg);
		min-height: 360px;
		@media(max-width: $screen-sm) {
			min-height: 300px;
		}
	}

	.parallax-bgimg-2 {
		background-image: url(assets/images/we_worldwide/parallax/progress-2.jpg);
		min-height: 360px;
		@media(max-width: $screen-sm) {
			min-height: 300px;
		}
	}

	.block__single-heading {
		@media(max-width: $screen-sm) {
			padding-bottom: 0;
		}
	}

	.copy-paragraph-one {
		text-align: center;
		padding: 50px 0;
		@media(max-width: $screen-sm) {
			padding: 30px 0;
		}
	}

	.copy-paragraph-two {
		text-align: center;
		padding: 120px 0;
		@media(max-width: $screen-sm) {
			padding: 30px 0 100px 0;
		}
	}


}
