.block__progress-page {
    .bgimg-1, .bgimg-2 {
	    position: relative;
	    opacity: 0.65;
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

	.bgimg-1 {
	    background-image: url(assets/images/we_worldwide/parallax/progress-1.jpg);
		min-height: 600px;
		@media(max-width: $screen-sm) {
			min-height: 400px;
		}
	}

	.bgimg-2 {
		background-image: url(assets/images/we_worldwide/parallax/progress-2-smaller.jpg);
		min-height: 600px;
		@media(max-width: $screen-sm) {
			min-height: 400px;
		}
	}

	.block__single-heading {
		padding-bottom: 50px;
		@media(max-width: $screen-sm) {
			padding-bottom: 0;
		}
	}

	.copy-paragraph-one {
		text-align: center;
		padding: 50px 0;
		@media(max-width: $screen-sm) {
			padding: 30px 15px;
		}
	}

	.copy-paragraph-two {
		text-align: center;
		padding: 120px 0;
		@media(max-width: $screen-sm) {
			padding: 30px 15px 100px 15px;
		}
	}


}
