.iconography {
    text-align: center;
    position: relative;
    padding-bottom: 70px;

    @media (max-width: $screen-xs) {
        display: none;
    }

    .icons {
        padding-top: 30px;

        img {
            width: 100px;

            @media (max-width: $screen-sm) {
                width: 80px;
            }
        }

        .col-half-offset {
            margin-left: 4.16667%;
        }
    }

    .arrow {
        position: absolute;
        bottom: 0;
        width: 100%;

        &:before, &:after {
            content: '';
            position: absolute;
            bottom: 100%;
            width: 50%;
            box-sizing: border-box;
        }

        &:before {
            right: 50%;
            border-bottom: 30px solid $lighter-grey;
            border-right: 30px solid transparent;
        }

        &:after {
            left: 50%;
            border-bottom: 30px solid $lighter-grey;
            border-left: 30px solid transparent;
        }
    }
}

.iconography-mobile {
    text-align: center;
    position: relative;
    padding-bottom: 70px;

    @media (min-width: $screen-xs) {
        display: none;
    }

    .icons {
        padding-top: 30px;
    }

    img {
        width: 80px;
    }

    .arrow {
        position: absolute;
        bottom: 0;
        width: 100%;

        &:before, &:after {
            content: '';
            position: absolute;
            bottom: 100%;
            width: 50%;
            box-sizing: border-box;
        }

        &:before {
            right: 50%;
            border-bottom: 30px solid $lighter-grey;
            border-right: 30px solid transparent;
        }

        &:after {
            left: 50%;
            border-bottom: 30px solid $lighter-grey;
            border-left: 30px solid transparent;
        }
    }
}