.block__motion-page {
	background-image: url(assets/images/we_worldwide/stories-in-motion-bg.png);
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}