.block__motion-page {
	background-image: url(assets/images/we_worldwide/stories-in-motion-bg.png);
	background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
}