<section class="how-to-write-simply">
    <div class="container-md">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2>How to write<br><span>simply</span></h2>
                <p class="intro">Construct messages which are easy to read and take in.</p>
                <ul>
                    <li>Put your main point first.</li>
                    <li>Keep paragraphs and sentences short.</li>
                    <li>Stick to one idea per sentence, and one topic per paragraph.</li>
                    <li>Break up text with subheadings and bullet points.</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 visual">
                <img src="assets/images/language/guide.png" alt="Simple, personal, fair">
            </div>
        </div>
    </div>
</section>