<div class="placement-on-backgrounds">
    <div class="arrow-top"></div>
    <section class="single-title-block">
        <div class="container-md">
            <div class="row">
                <div class="col-xs-12">
                    <h1 ng-transclude="mainTitle"></h1> 
                    <p ng-transclude="paragraph"></p>   
                </div>
            </div>
        </div>
    </section>
    <div class="container-lg">
        <div class="row">
            <div class="col-sm-4">
                <div ng-transclude="imageOne"></div>
                <div class="tick">
                    <h4 ng-transclude="titleOne"></h4>
                    <p ng-transclude="paragraphOne"></p>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <div ng-transclude="imageTwo"></div>
                    </div>
                    <div class="col-sm-6">
                        <div ng-transclude="imageThree"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tick">
                            <h4 ng-transclude="titleTwo"></h4>
                            <p ng-transclude="paragraphTwo"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div ng-transclude="imageFour"></div>
            </div>
            <div class="col-sm-4">
                <div ng-transclude="imageFive"></div>
            </div>
            <div class="col-sm-4">
                <div ng-transclude="imageSix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tick">
                    <h4 ng-transclude="titleThree"></h4>
                    <p ng-transclude="paragraphThree"></p>
                </div>
            </div>  
        </div>        
    </div>
    <div class="arrow-bottom"></div>
</div>