<sub-header>
    <sub-header-title>
        Principles
    </sub-header-title>
    <sub-header-text>
		We've developed a handy set of principles to help maintain consistency across our photographic images.
	</sub-header-text>
</sub-header>
<photo-img-grid></photo-img-grid>
<footer-component>
    <main-title>
        Need more help?
    </main-title>
    <paragraph>
        We have a large number of images that we can use. These can be found in our asset library, Creative Bank.
    </paragraph>
    <laptop>
        <img src="assets/images/laptop/photography.png" alt="Santander">
    </laptop>
</footer-component>