<double-block>
	<main-title>
		Print
	</main-title>
	<first-title>
		Primary typeface
	</first-title>
	<first-paragraph>
		Our primary typeface for print material is Kievit. We’ve chosen this typeface because of its simple, clean lines and elegant shapes.
	</first-paragraph>
	<first-image>
		<img src="assets/images/kievit.svg" alt="Kievit">
	</first-image>
	<second-title>
		Secondary typeface
	</second-title>
	<second-paragraph>
		Our secondary typeface print material is Arial. It can be used for internal documents and when Kievit isn’t available.
	</second-paragraph>
	<second-image>
		<img src="assets/images/arial.svg" alt="Arial">
	<second-image>
</double-block>
<single-grey-block>
	<image-right>
		<img src="assets/images/first-a.png" alt="Image A">
	</image-right>
</single-grey-block>
<double-block>
	<main-title>
		Digital
	</main-title>
	<first-title>
		Primary typeface
	</first-title>
	<first-paragraph>
		Open Sans is the primary typeface used across all digital channels. We’ve chosen Open Sans because of its neutral and friendly appearance. It’s suitable for web and mobile interfaces and it’s easy to read. You should use Open Sans for titles, sub-headings and body copy highlights.
	</first-paragraph>
	<first-image>
		<img src="assets/images/open-sans.svg" alt="Open Sans">
	</first-image>
	<second-title>
		Secondary typeface
	</second-title>
	<second-paragraph>
		Arial is our secondary digital typeface. It's used for body copy, paragraphs, tables and forms - especially when the content requires maximum compatibility between the browser and operating systems.<br/><br/>
		Arial should be used when Open Sans isn’t available. 
	</second-paragraph>
	<second-image>
		<img src="assets/images/arial.svg" alt="Arial">
	</second-image>
</double-block>
<single-grey-block>
	<image-right>
		<img src="assets/images/second-a.png" alt="Image A">
	</image-right>
</single-grey-block>
<single-block></single-block>
<single-block-text>
	<paragraph>
		Using fonts other than the ones described in this guide can lead to licence infringement or rendering problems in web browsers. If in doubt, contact the <a href="mailto:brand.approval@santander.co.uk" title="Brand Team">Brand Team</a>.
	</paragraph>
</single-block-text>