<div id="cookie-bar">
  <div class="container-lg">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <p>
            <img src="../../assets/images/exclamation.png" class="exclamation" title="Exclamation">This site uses cookies. Read about how we use cookies and how you can control them <a href="http://www.santander.co.uk/uk/cookie-policy" title="here" class="underlined">here</a>. Continued use of this site indicates that you accept this policy.<a href="" ng-click="closeCookie()" class="close_btn">
            <img src="../../assets/images/close.svg"> <span class="underlined">Close</span></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>