<div class="block__photo-img-grid">
   <div class="container-fluid">
        <div class="row bg-grey">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="arrow-container">
                    <div class="paragraph-lg">
                        <p>An element of red can be included in the composition where appropriate.</p>
                    </div>
                </div>
                <div class="arrow arrow-right arrow-grey screen-lg-visible"></div>
                <div class="arrow arrow-right arrow-grey screen-md-visible"></div>
                <div class="arrow arrow-right arrow-grey screen-sm-visible"></div>
                <div class="arrow arrow-down arrow-grey screen-xs-visible"></div>
            </div> 
            <div class="col-lg-8 col-sm-6 col-xs-12 visual women-on-bikes"></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 bg-red">
                <div class="arrow-container">
                    <div class="paragraph-md">
                        <p>Represents a broad range of customer profiles.</p>
                    </div>
                    <div class="arrow arrow-down arrow-red"></div>
                    <div class="visual-half col-sm-height family"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="arrow-container">
                    <div class="row">
                        <div class="col-md-12 col-md-push-v-6 col-sm-6 col-xs-12">
                            <div class="paragraph-md">
                                <p>Feels quintessentially British.</p>  
                                <div class="arrow arrow-right arrow-white screen-sm-visible"></div>
                            </div>
                            <div class="arrow arrow-down arrow-white screen-xs-visible"></div>
                        </div>
                        <div class="col-md-12 col-md-pull-v-6 col-sm-6 col-xs-12">
                            <div class="visual-half british"></div>
                            <div class="arrow arrow-up arrow-white screen-lg-visible"></div>
                            <div class="arrow arrow-up arrow-white screen-md-visible"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 bg-light-grey">
                <div class="arrow-container">
                    <div class="paragraph-md">
                        <p>Should captures people doing everyday things.</p>
                    </div>
                    <div class="arrow arrow-down arrow-light-grey"></div>
                    <div class="visual-half col-sm-height coffee"></div>
                </div>
            </div>
        </div>
        <div class="row bg-grey">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="arrow-container">
                    <div class="paragraph-lg">
                        <p>Always includes people – to reflect Santander's customers.</p>
                    </div>
                </div>
                <div class="arrow arrow-right arrow-grey screen-lg-visible"></div>
                <div class="arrow arrow-right arrow-grey screen-md-visible"></div>
                <div class="arrow arrow-right arrow-grey screen-sm-visible"></div>
                <div class="arrow arrow-down arrow-grey screen-xs-visible"></div>
            </div> 
            <div class="col-lg-8 col-sm-6 col-xs-12 visual grand-kids"></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 bg-red">
                <div class="arrow-container">
                    <div class="paragraph-md">
                        <p>Natural daylight, not artificially lit.</p>
                    </div>
                    <div class="arrow arrow-down arrow-red"></div>
                    <div class="visual-half col-sm-height woman-phone"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="arrow-container">
                    <div class="row">
                        <div class="col-md-12 col-md-push-v-6 col-sm-6 col-xs-12">
                            <div class="paragraph-md">
                                <p>Has movement and energy.</p>  
                                <div class="arrow arrow-right arrow-white screen-sm-visible"></div>
                            </div>
                            <div class="arrow arrow-down arrow-white screen-xs-visible"></div>
                        </div>
                        <div class="col-md-12 col-md-pull-v-6 col-sm-6 col-xs-12">
                            <div class="visual-half family-in-park"></div>
                            <div class="arrow arrow-up arrow-white screen-lg-visible"></div>
                            <div class="arrow arrow-up arrow-white screen-md-visible"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 bg-light-grey">
                <div class="arrow-container">
                    <div class="paragraph-md">
                        <p>Everyday, natural and not posed (reportage).</p>
                    </div>
                    <div class="arrow arrow-down arrow-light-grey"></div>
                    <div class="visual-half couple-street"></div>
                </div>
            </div>
        </div>
        <div class="row bg-grey">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="arrow-container">
                    <div class="paragraph-lg">
                        <p>Warmth – both in composition and colour treatment.</p>
                    </div>
                </div>
                <div class="arrow arrow-right arrow-grey screen-lg-visible"></div>
                <div class="arrow arrow-right arrow-grey screen-md-visible"></div>
                <div class="arrow arrow-right arrow-grey screen-sm-visible"></div>
                <div class="arrow arrow-down arrow-grey screen-xs-visible"></div>
            </div> 
            <div class="col-lg-8 col-sm-6 col-xs-12 visual woman-tablet"></div>
        </div>
    </div> 
</div>
