<div class="block__brand-aproval">
	<div class="container-md">
		<div class="row">
			<div class="col-sm-6">
				<h2 class="heading">Brand approval</h2>
			</div>
			<div class="col-sm-6">
				<p>It’s very important to remember that you always need to get approval from the Brand Team before using any of our assets. Our assets include things like logos, photography, icons etc.</p><br />
				<p>You can do this by sending your items to <a href="mailto:BrandDesignApproval@santander.co.uk" title="Brand Team">BrandDesignApproval@santander.co.uk</a></p>
			</div>
		</div>
	</div>
	<div class="arrow-bottom"></div>
</div>
