<section class="side-by-side-img">
    <div class="container-md">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h4 ng-transclude="titleLeft"></h4> 
                <div ng-transclude="imgLeft" class="visual"></div>
                <p ng-transclude="referenceLeft" class="reference"></p>   
            </div>
            <div class="col-xs-12 col-sm-6">
                <h4 ng-transclude="titleRight"></h4> 
                <div ng-transclude="imgRight" class="visual"></div>
                <p ng-transclude="referenceRight" class="reference"></p>   
            </div>
        </div>
    </div>
</section>