<div class="block__footer">
	<div class="container-md">
		<div class="row">
			<div>
				<div class="col-sm-6 animated" animation-directive="{class: 'fadeInLeft'}">
					<h2 ng-transclude="mainTitle" class="heading">Need more help?</h2>
					<p ng-transclude="paragraph"></p>
					<p ng-transclude="cta"></p>
				</div>
				<div class="col-sm-6 animated" animation-directive="{class: 'fadeInRight'}">
					<div ng-transclude="laptop" class="laptop"></div>
				</div>
			</div>
		</div>
	</div>
</div>