.how-to-write-fairly {
    background: $white;
    padding: 60px 0;
    position: relative;

    .arrow-bottom {
        border-top-color: $white;
        bottom: -60px;
    }

    @media (max-width: $screen-xs) {
        padding: 40px 0;
    }

    h2 {
        color: $grey;
        font-size: 40px;
        margin-bottom: 15px;
        line-height: 1;
        font-weight: 700;

        span {
            color: $red;
            font-size: 90px;
            padding-left: 30px;
        }

        @media (max-width: $screen-xs) {
            font-size: 20px;

            span {
                font-size: 60px;
                padding-left: 35px;
            }
        }
    }

    p {
        font-size: 19px;
        font-family: 'Open Sans';
        font-weight: 400;
        margin-bottom: 40px;
        padding-right: 50px;

        @media (max-width: $screen-xs) {
            font-size: 16px;
            margin-bottom: 25px;
            padding-right: 0px;
        }
    }

    ul {
        li {
            background: url(../assets/images/language/tick.svg) no-repeat;
            background-size: 23px 23px;
            padding-left: 35px;
            margin-bottom: 13px;
            display: block;
        }
    }
}