<sub-header>
	<sub-header-title>
		Our primary colours
	</sub-header-title>
	<sub-header-text>
		The Santander red should always be the main colour used when designing any materials. Occasionally we use tints of the primary colours to provide additional tonal range.
	</sub-header-text>
</sub-header>
<square-component></square-component>
<primary-colours></primary-colours>
<sub-header>
	<sub-header-title>
		Our secondary colours
	</sub-header-title>
	<sub-header-text>
		Colour can bring communications to life and – when chosen carefully – make something good into something great. Sometimes we need more than the primary colours to make a design work. As an example, when creating a graph or chart, a secondary colour could clarify the information. These secondary colours, should be used sparingly alongside our primary colours.
	</sub-header-text>
</sub-header>
<secondary-colours></secondary-colours>
<single-block-text class="paragraph">
	<paragraph>
		You'll need approval from the Brand Team before using the secondary colour palette. Get in touch with the team at <a href="mailto:brand.approval@santander.co.uk">brand.approval@santander.co.uk</a> if you have any questions.
	</paragraph>
</single-block-text>
<ellipses-component></ellipses-component>
<footer-component>
    <main-title>
        Need more help?
    </main-title>
    <paragraph>
        For more guides on using colour, please visit the Creative Bank.
    </paragraph>
    <laptop>
        <img src="assets/images/laptop/color.png" alt="Santander">
    </laptop>
</footer-component>