<div class="block__secondary-colours">
	<div class="container-md hidden-sm-down">
	    <div class="row">
	    	<div class="col-xs-12 animated colours" animation-directive="{class: 'fadeInUp'}">
	    		<div class="row">
	    			<div class="ellipse">
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color orange1"></div>
				        	<div class="values">
				        		<p><strong>Pantone: 145c</strong></p>
				        		<p>CMYK: 9 42 98 0</p>
				        		<p>RGB: 229 157 39</p>
				        		<p>HEX: #E59D27</p>
				        	</div>
				        </div>
			        </div>
			        <div class="col-xs-3">
			        	<div class="row">
					      	<div class="secondary-color orange2"></div>
					        <div class="values">
					        	<p><strong>70%</strong></p>
					        	<p>CMYK: 51 4 20 0</p>
					        	<p>RGB: 237 186 104</p>
					        	<p>HEX: #EDBA68</p>
					        </div>
						    </div>
			        </div>
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color orange3"></div>
				        	<div class="values">
				        		<p><strong>40%</strong></p>
					        	<p>CMYK: 4 17 39 0</p>
					        	<p>RGB: 245 216 169</p>
					        	<p>HEX: #F5D8A9</p>
					        </div>
					    	</div>
			        </div>
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color orange4"></div>
				        	<div class="values">
				        		<p><strong>15%</strong></p>
					        	<p>CMYK: 1 6 15 0</p>
					        	<p>RGB: 251 240 223</p>
					        	<p>HEX: #FBF0DF</p>
					        </div>
					    	</div>
			        </div>
				    </div>
			    </div>
		    </div>
	    	<div class="col-xs-12 animated colours" animation-directive="{class: 'fadeInUp'}">
	    		<div class="row">
	    			<div class="ellipse">
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color green1"></div>
				        	<div class="values">
				        		<p><strong>Pantone: 383c</strong></p>
				        		<p>CMYK: 39 8 100 0</p>
				        		<p>RGB: 171 193 17</p>
				        		<p>HEX: #ABC111</p>
				        	</div>
				        </div>
			        </div>
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color green2"></div>
					        <div class="values">
					        	<p><strong>70%</strong></p>
					        	<p>CMYK: 27 5 70 0</p>
					        	<p>RGB: 196 212 88</p>
					        	<p>HEX: #C4D458</p>
					        </div>
					    	</div>
			        </div>
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color green3"></div>
				        	<div class="values">
				        		<p><strong>40%</strong></p>
					        	<p>CMYK: 16 3 40 0</p>
					        	<p>RGB: 221 230 160</p>
					        	<p>HEX: #DDE6A0</p>
					        </div>
					    	</div>
			        </div>
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color green4"></div>
				        	<div class="values">
				        		<p><strong>15%</strong></p>
					        	<p>CMYK: 6 1 15 0</p>
					        	<p>RGB: 243 246 219</p>
					        	<p>HEX: #F3F6DB</p>
					        </div>
					    	</div>
			        </div>
				    </div>
			    </div>
		    </div>
	    	<div class="col-xs-12 animated colours" animation-directive="{class: 'fadeInUp'}">
	    		<div class="row">
	    			<div class="ellipse">
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color turquoise1"></div>
				        	<div class="values">
				        		<p><strong>Pantone 632 C</strong></p>
				        		<p>CMYK: 73 6 28 0</p>
				        		<p>RGB: 27 179 188</p>
				        		<p>HEX: #1BB3BC</p>
				        	</div>
				        </div>
			        </div>
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color turquoise2"></div>
					        <div class="values">
					        	<p><strong>70%</strong></p>
					        	<p>CMYK: 51 4 20 0</p>
					        	<p>RGB: 95 202 208</p>
					        	<p>HEX: #5FCAD0</p>
					        </div>
					    	</div>
			        </div>
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color turquoise3"></div>
				        	<div class="values">
				        		<p><strong>40%</strong></p>
					        	<p>CMYK: 29 2 11 0</p>
					        	<p>RGB: 164 225 228</p>
					        	<p>HEX: #A4E1E4</p>
					        </div>
					    	</div>
			        </div>
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color turquoise4"></div>
				        	<div class="values">
				        		<p><strong>15%</strong></p>
					        	<p>CMYK: 11 1 4 0</p>
					        	<p>RGB: 221 244 244</p>
					        	<p>HEX: #DDF4F5</p>
					        </div>
					    	</div>
			        </div>
				    </div>
			    </div>
		    </div>
	    	<div class="col-xs-12 animated colours" animation-directive="{class: 'fadeInUp'}">
	    		<div class="row">
	    			<div class="ellipse">
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color purple1"></div>
				        	<div class="values">
				        		<p><strong>Pantone: 676c</strong></p>
				        		<p>CMYK: 36 92 37 9</p>
				        		<p>RGB: 158 54 103</p>
				        		<p>HEX: #9E3667</p>
				        	</div>
				        </div>
			        </div>
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color purple2"></div>
					        <div class="values">
					        	<p><strong>70%</strong></p>
					        	<p>CMYK: 25 64 26 6</p>
					        	<p>RGB: 187 114 149</p>
					        	<p>HEX: #BB7295</p>
					        </div>
					    	</div>
			        </div>
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color purple3"></div>
				        	<div class="values">
				        		<p><strong>40%</strong></p>
					        	<p>CMYK: 15 37 15 4</p>
					        	<p>RGB: 216 175 194</p>
					        	<p>HEX: #D8AFC2</p>
					        </div>
					    	</div>
			        </div>
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color purple4"></div>
				        	<div class="values">
				        		<p><strong>15%</strong></p>
					        	<p>CMYK: 5 14 5 1</p>
					        	<p>RGB: 240 225 232</p>
					        	<p>HEX: #F0E1E8</p>
					        </div>
					    	</div>
			        </div>
				    </div>
			    </div>
		    </div>
		</div>
	</div>
	
	<div class="container-lg hidden-sm-down">
		<hr>
	</div>

	<div class="container-md hidden-sm-up">
		<div class="row">
			<div ng-controller="SecondaryColourCtrl" >
				<div class="panel-header {{group.class}}" ng-repeat="group in groups">
					<uib-accordion close-others="oneAtATime">
						<div uib-accordion-group class="panel-default text-left" >
							<uib-accordion-heading>
								<div class="secondary-color {{group.class}} pull-left"></div>{{group.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-menu-down': status.open, 'glyphicon-menu-right': !status.open}"></i>
							</uib-accordion-heading>
							<div class="color-variation" ng-repeat="color in group.color">
								<div class="pull-left">
									<div class="secondary-color {{color.class}}"></div>
								</div>
								<div class="pull-left">
									<p><strong>{{color.Heading}}</strong></p>
									<p>CMYK: {{color.CMYK}}</p>
									<p>RBG: {{color.RGB}}</p>
									<p>HEX: {{color.HEX}}</p>
								</div>
							</div>
						</div>
					</uib-accordion>
				</div>
			</div>
		</div>
	</div>
</div>
