<div class="block__secondary-colours">
	<div class="container-md hidden-sm-down">
	    <div class="row">
	    	<div class="col-xs-12">
	    		<div class="row">
	    			<div class="ellipse">
				        <div class="col-xs-3">
				        	<div class="row">
					        	<div class="secondary-color orange1"></div>
					        	<div class="values">
					        		<p>CMYK: 0 100 100 10</p>
					        		<p>RGB: 230 0 0</p>
					        		<p>HEX: #E60000</p>
					        	</div>
					        </div>
				        </div>
				        <div class="col-xs-3">
				        	<div class="row">
					        	<div class="secondary-color orange2"></div>
						        <div class="values">	
						        	<p>CMYK: 0 100 100 20</p>
						        	<p>RGB: 204 0 0</p>
						        	<p>HEX: #CC0000</p>
						        </div>
						    </div>
				        </div>
				        <div class="col-xs-3">
				        	<div class="row">
					        	<div class="secondary-color orange3"></div>
					        	<div class="values">
						        	<p>CMYK: 0 100 100 30</p>
						        	<p>RGB: 179 0 0</p>
						        	<p>HEX: #B30000</p>
						        </div>
						    </div>
				        </div>
				        <div class="col-xs-3">
				        	<div class="row">
					        	<div class="secondary-color orange4"></div>
					        	<div class="values">
						        	<p>CMYK: 0 100 100 40</p>
						        	<p>RGB: 153 0 0</p>
						        	<p>HEX: #990000</p>
						        </div>
						    </div>
				        </div>
				    </div>
			    </div>
		    </div>
	    	<div class="col-xs-12">
	    		<div class="row">
	    			<div class="ellipse">
				        <div class="col-xs-3">
				        	<div class="row">
					        	<div class="secondary-color green1"></div>
					        	<div class="values">
					        		<p>CMYK: 0 100 100 10</p>
					        		<p>RGB: 230 0 0</p>
					        		<p>HEX: #E60000</p>
					        	</div>
					        </div>
				        </div>
				        <div class="col-xs-3">
				        	<div class="row">
					        	<div class="secondary-color green2"></div>
						        <div class="values">	
						        	<p>CMYK: 0 100 100 20</p>
						        	<p>RGB: 204 0 0</p>
						        	<p>HEX: #CC0000</p>
						        </div>
						    </div>
				        </div>
				        <div class="col-xs-3">
				        	<div class="row">
					        	<div class="secondary-color green3"></div>
					        	<div class="values">
						        	<p>CMYK: 0 100 100 30</p>
						        	<p>RGB: 179 0 0</p>
						        	<p>HEX: #B30000</p>
						        </div>
						    </div>
				        </div>
				        <div class="col-xs-3">
				        	<div class="row">
					        	<div class="secondary-color green4"></div>
					        	<div class="values">
						        	<p>CMYK: 0 100 100 40</p>
						        	<p>RGB: 153 0 0</p>
						        	<p>HEX: #990000</p>
						        </div>
						    </div>
				        </div>
				    </div>
			    </div>
		    </div>
	    	<div class="col-xs-12">
	    		<div class="row">
	    			<div class="ellipse">
				        <div class="col-xs-3">
				        	<div class="row">
					        	<div class="secondary-color turquoise1"></div>
					        	<div class="values">
					        		<p>CMYK: 0 100 100 10</p>
					        		<p>RGB: 230 0 0</p>
					        		<p>HEX: #E60000</p>
					        	</div>
					        </div>
				        </div>
				        <div class="col-xs-3">
				        	<div class="row">
					        	<div class="secondary-color turquoise2"></div>
						        <div class="values">	
						        	<p>CMYK: 0 100 100 20</p>
						        	<p>RGB: 204 0 0</p>
						        	<p>HEX: #CC0000</p>
						        </div>
						    </div>
				        </div>
				        <div class="col-xs-3">
				        	<div class="row">
					        	<div class="secondary-color turquoise3"></div>
					        	<div class="values">
						        	<p>CMYK: 0 100 100 30</p>
						        	<p>RGB: 179 0 0</p>
						        	<p>HEX: #B30000</p>
						        </div>
						    </div>
				        </div>
				        <div class="col-xs-3">
				        	<div class="row">
					        	<div class="secondary-color turquoise4"></div>
					        	<div class="values">
						        	<p>CMYK: 0 100 100 40</p>
						        	<p>RGB: 153 0 0</p>
						        	<p>HEX: #990000</p>
						        </div>
						    </div>
				        </div>
				    </div>
			    </div>
		    </div>
	    	<div class="col-xs-12">
	    		<div class="row">
	    			<div class="ellipse">
				        <div class="col-xs-3">
				        	<div class="row">
					        	<div class="secondary-color purple1"></div>
					        	<div class="values">
					        		<p>CMYK: 0 100 100 10</p>
					        		<p>RGB: 230 0 0</p>
					        		<p>HEX: #E60000</p>
					        	</div>
					        </div>
				        </div>
				        <div class="col-xs-3">
				        	<div class="row">
					        	<div class="secondary-color purple2"></div>
						        <div class="values">	
						        	<p>CMYK: 0 100 100 20</p>
						        	<p>RGB: 204 0 0</p>
						        	<p>HEX: #CC0000</p>
						        </div>
						    </div>
				        </div>
				        <div class="col-xs-3">
				        	<div class="row">
					        	<div class="secondary-color purple3"></div>
					        	<div class="values">
						        	<p>CMYK: 0 100 100 30</p>
						        	<p>RGB: 179 0 0</p>
						        	<p>HEX: #B30000</p>
						        </div>
						    </div>
				        </div>
				        <div class="col-xs-3">
				        	<div class="row">
					        	<div class="secondary-color purple4"></div>
					        	<div class="values">
						        	<p>CMYK: 0 100 100 40</p>
						        	<p>RGB: 153 0 0</p>
						        	<p>HEX: #990000</p>
						        </div>
						    </div>
				        </div>
				    </div>
			    </div>
		    </div>
		</div>
	</div>

	<div class="arrow hidden-sm-down"></div>

	<div class="container-md hidden-sm-up">
		<div class="row">
			<div ng-controller="SecondaryColourCtrl" >
				<div class="panel-header {{group.class}}" ng-repeat="group in groups">
					<uib-accordion close-others="oneAtATime">
						<div uib-accordion-group class="panel-default text-left" >
							<uib-accordion-heading>
								<div class="secondary-color {{group.class}} pull-left"></div>{{group.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-menu-down': status.open, 'glyphicon-menu-right': !status.open}"></i>
							</uib-accordion-heading>
							<div class="color-variation" ng-repeat="color in group.color">
								<div class="pull-left">
									<div class="secondary-color {{color.class}}"></div>
								</div>
								<div class="pull-left">
									<p>CMYK: {{color.CMYK}}</p>
									<p>RBG: {{color.RGB}}</p>
									<p>HEX: {{color.HEX}}</p>
								</div>
							</div>
						</div>
					</uib-accordion>
				</div>
			</div>
		</div>
	</div>
</div>


