.block__shadow_box {
	text-align: center;
	padding-bottom: 50px;
	@media(max-width: $screen-sm) {
		padding: 0 15px 30px 15px;
	}

	.box {
		background-color: $dark-grey;
		padding: 15px;
	}

	h3 {
		font-size: 16px;
		font-family: 'BentonSansMedium', Arial, sans-serif;
		color: $white;
	}

	p {
		font-size: 16px;
	}
}