<div class="block__terms">
	<div class="terms">
		<div class="container-md">
			<h1>Terms of use</h1>
			<h3>Jurisdiction for use</h3>
			<p>This website is intended for use only by those who can access it from within the UK - other than for the purpose of accessing
				USA Patriot Act certifications. Products advertised on these pages are only intended for sale to UK residents and mortgages
				are only available on properties in the UK.</p>
			<h3>Governing law</h3>
			<p>This site is governed by the laws of the country of the UK within which you reside and any dispute or action arising out
				of this site shall be determined in accordance with such laws.</p>
			<h3>Contracts</h3>
			<p>Santander (and its third parties and associated companies) will keep a copy of your contract once it is signed and returned.
				This will be available on request (though there may be a charge for this service).</p>
			<p>All contracts and applications are written in English.</p>
			<h3>USA Patriot Act</h3>
			<p>The USA PATRIOT Act 2001 (Uniting and Strengthening America by Providing Appropriate Tools Required to Intercept and Obstruct
				Terrorism) was passed in October 2001. It includes a number of provisions intended to combat money laundering and the
				financing of terrorism.</p>
			<p>U.S. Financial institutions are required by the USA PATRIOT Act to obtain certain information about foreign banks that
				maintain relationships with them.</p>
			<p>Please follow the link below to access the Santander global USA PATRIOT Act Certificate.</p>
			<p><a href="http://www.santander.co.uk/csdlvlr/ContentServer?c=SANDocument_C&amp;pagename=WCSUKPublicaLte%2FSANDocument_C%2FSANDocumentPreview&amp;cid=1324581771003"
				    target="_blank" title="Open in a new window">Global Patriot Act Certification</a></p>
			<h3>Contacts</h3>
			<p>If you believe any information on this site is inaccurate or have any suggestions on how the content of this site could
				be improved please email us at <a href="javascript:location.href='mailto:'+String.fromCharCode(99,117,115,116,111,109,101,114,115,101,114,118,105,99,101,115,64,115,97,110,116,97,110,100,101,114,46,99,111,46,117,107)+'?'">customerservices@santander.co.uk </a>or
				call us on <strong>0800 917 9170</strong>.</p>
			<p>If you have questions on a particular product or service please use the contact details shown for that product or service.</p>
			<h3>Changes</h3>
			<p>We will update the content of this notice from time to time. Please ensure that you visit this page regularly and refresh
				your browser to ensure your information is up to date.</p>
			<p>You can check our authorisations with the Financial Conduct Authority at <a title="Open in new window" target="_blank"
				    href="http://www.fsa.gov.uk/pages/register">www.fca.org.uk/register </a>or by calling them on 0800&nbsp;111 6768</p>
			<p>Santander UK plc is a member of the Financial Ombudsman Service, contact details: Financial Ombudsman Service, South Quay
				Plaza, 183 Marsh Wall, London E14 9SR. Telephone: 0845 080 1800. <a title="Open in new window" target="_blank" href="http://www.financial-ombudsman.org.uk">www.financial-ombudsman.org.uk</a></p>
			<h3>Financial services compensation scheme</h3>
			<p>Santander UK plc is a member of the Financial Services Compensation Scheme established under the Financial Services and
				Markets Act 2000. This replaces previous compensation schemes. For further information please contact us or visit the
				Financial Services Compensation Scheme website at: <a title="Open in new window" target="_blank" href="http://www.fscs.org.uk">www.fscs.org.uk</a></p>
			<h3>The Standards of Lending Practice</h3>
			<p>Santander in the UK adheres to The Standards of Lending Practice which are monitored and enforced by the LSB: <a title="Open in new window"
				    target="_blank" href="http://www.lendingstandardsboard.org.uk">www.lendingstandardsboard.org.uk</a></p>
			<h3>The Lending Code</h3>
			<p>For Business customers, Santander in the UK subscribes to the Lending Code, which covers good practice in relation to
				loans, credit cards and current account overdrafts. A copy of the Lending Code and the Guides to the Lending Code can
				be obtained from <a title="Open in new window" target="_blank" href="http://www.lendingstandardsboard.org.uk/">www.lendingstandardsboard.org.uk/thecode.html</a>.</p>
			<p><a target="_blank" href="http://www.santander.co.uk/uk/help-support/contact-us/call-charge-information/">View call charges</a></p>
		</div>
	</div>
</div>
<brand-footer></brand-footer>