<div class="block__ellipses-block">
	<div class="container-md">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<img src="assets/images/colour/ellipses.png" alt="Ellipses">
					</div>
					<div class="col-xs-12 col-sm-6 top-section">
						<h2>Use of colour</h2>
						<p>Please apply the secondary colours sparingly – only 25 percent of the visual weight on the design should use these colours.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="arrow"></div>
</div>