<section class="page--home">
	<div class="home-container">
		<div class="">
			
			<image-tile class="col-sm-3 image1" title="What are BIM, SIM and Momentum" image="assets/images/image-tiles/gps.jpg" link="about"></image-tile>

			<image-tile class="col-sm-3" title="What process should I follow for Cleint Work and new Biz?" subtitle="" image="assets/images/image-tiles/hogarth-heineken.jpg" link="about"></image-tile>

			<image-tile class="col-sm-3" title="I've got a new brief in. How do I respond" image="assets/images/image-tiles/heinz.jpg" link="about"></image-tile>

			<image-tile class="col-sm-3" title="How do I bring in the right people" image="assets/images/image-tiles/horse.jpg" link="about"></image-tile>
			
		</div>
	</div>
</section>