<section class="page--home">
	<div class="home-container">
		<div class="">
			
			<image-tile class="col-sm-3 image1" title="Text" image="assets/images/image-tiles/gps.jpg" link="about"></image-tile>

			<image-tile class="col-sm-3" title="Text" subtitle="" image="assets/images/image-tiles/hogarth-heineken.jpg" link="about"></image-tile>

			<image-tile class="col-sm-3" title="Text" image="assets/images/image-tiles/heinz.jpg" link="about"></image-tile>

			<image-tile class="col-sm-3" title="Text" image="assets/images/image-tiles/horse.jpg" link="about"></image-tile>
			
		</div>
	</div>
</section>