<div class="block__double-block">
	<div class="container-md">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="heading" ng-transclude="title"></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-sm-6">
						<h3 ng-transclude="firstTitle"></h3>
						<p ng-transclude="firstParagraph"></p>
					</div>
					<div class="col-sm-6" ng-transclude="firstImage">
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-sm-6">
						<h3 ng-transclude="secondTitle"></h3>
						<p ng-transclude="secondParagraph"></p>
					</div>
					<div class="col-sm-6" ng-transclude="secondImage">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="arrow"></div>
</div>