<div class="block__single-block">
	<div class="container-md">
		<hr>
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<h3 ng-transclude="mainTitle"></h3>
				<p ng-transclude="paragraph"></p>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div ng-transclude="visual"></div>
				<div class="row references">
					<div class="col-xs-6">
						<p ng-transclude="referencesLeft"></p>
					</div>
					<div class="col-xs-6">
						<p ng-transclude="referencesRight"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>