<div class="block__single-grey">
	<div class="container-md">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-sm-6">
						<h2 class="heading">Need more help?</h2>
						<p ng-transclude="paragraph"></p>
						<p>
		        	<a class="btn red-button" href="https://santander.assetbank-server.com/assetbank-santander/action/quickSearch?CSRF=ZODPXKHH0B90WRW3jpgF&newSearch=true&quickSearch=true&homepageSearchType=attribute&keywords=&keywordSearchDomain=KEYWORDS_AND_CONTENT&attribute_701=&attribute_706=Brand+Elements&attribute_729=&attribute_730=&attribute_732=&attribute_733=Brand+manuals&attribute_734=&attribute_735=&attribute_708=&attribute_719=&includePreviousVersions=on" target="_blank" role="button">Go to Creative Bank</a>
				    </p>
					</div>
					<div class="col-sm-6">
						<div ng-transclude="image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="arrow"></div>
</div>