<div class="block__single-grey">
	<div class="container-md">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-sm-6">
						<h2 class="heading">Need more help?</h2>
						<p>For more guides on using typography for print, please visit Creative Bank.</p>
						<p>
				        	<a class="btn red-button" href="#" role="button">Go to Creative Bank</a>
				        </p>
						<!-- <button class="btn">Go to Creative Bank</button> -->
					</div>
					<div class="col-sm-6">
						<div ng-transclude="image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="arrow"></div>
</div>