<div class="block__square">
	<div class="container-md">
		<div class="col-xs-12 col-sm-7 left-panels animated" animation-directive="{class: 'fadeInLeft'}">
			<div class="row">
				<div class="wrapper">
					<div class="col-xs-12 col-sm-6 panel-red">
					</div>
					<div class="col-xs-12 col-sm-6 panel-white">
						<h3>Pantone Red 032C</h3>
						<p>RGB: 236 0 0</p>
						<p>CMYK: 0 100 100 0</p>
						<p>HEX: #EC0000</p>
						<p>RAL: 3020</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-5 right-squares animated" animation-directive="{class: 'fadeInRight'}">
			<div class="row">
				<div class="wrapper">
					<div class="col-xs-6 col-sm-12 squares-top">
						<div class="row">
							<div class="separator-right">
								<div class="col-xs-12 col-sm-6 square-black"></div>
								<div class="col-xs-12 col-sm-6 square-white-small">
									<h3>Pantone Process Black</h3>
									<p>RGB: 0 0 0</p>
									<p>CMYK: 0 0 0 100</p>
									<p>HEX: #000000</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-12 squares-bottom">
						<div class="row">
							<div class="separator-left">
								<div class="col-xs-12 col-sm-6 square-white-small"></div>
								<div class="col-xs-12 col-sm-6 square-white-small border">
									<h3>Pantone Process White</h3>
									<p>RGB: 255 255 255</p>
									<p>CMYK: 0 0 0 0</p>
									<p>HEX: #FFFFFF</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



