.block__two-columns-stories {
	text-align: center;
	margin-top: 100px;

	@media(max-width: $screen-md) {
		margin-top: 50px;
	}

	h3 {
		margin-bottom: 30px;
	}

	.column-bg {
		background-color: $dark-grey;
		padding: 25px 15px;

		@media(max-width: $screen-md) {
			margin-bottom: 20px;
		}

		h3 {
			color: $we-green;
		}

		.uppercase-italics {
			font-family: 'BentonSansMedium';
			font-style: italic;
			text-transform: uppercase;
			padding-top: 30px;
			display: block;
		}
	}

	.equal {
		@media(min-width: $screen-sm) {
			display: flex;
	  		flex-wrap: wrap;
		}
	}
}