<sub-header>
    <sub-header-title>
        Variations
    </sub-header-title>
    <sub-header-text style="padding:0 !important;">
         
    </sub-header-text>
</sub-header>
<logo-component></logo-component>
<footer-component>
    <main-title>
        Need more help?
    </main-title>
    <paragraph>
        For more information on using the logo, please visit Creative Bank.
    </paragraph>
    <laptop>
        <img src="assets/images/laptop/logo.png" alt="Santander">
    </laptop>
</footer-component>
