<section class="how-to-write-fairly">
    <div class="container-md">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <h2>How to write<br><span>fairly</span></h2>
                <p class="intro">Try putting yourself in your readers' shoes and treating them as you'd want to be treated.</p>
                
            </div>
            <div class="col-xs-12 col-sm-4">
                <ul>
                    <li>Be balanced.</li>
                    <li>Show people what’s good about our services, and be honest when the customer won’t like something.</li>
                    <li>Tell me why.</li>
                    <li>Go easy on the Ts and Cs and legalese.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="arrow-bottom"></div>
</section>