.block__copy-paragraph {
    text-align: center;
    padding-bottom: 30px;

    .subheading {
        padding: 0 30px;

        p {
            color: $white;
            font-size: 20px;
            line-height: 28px;
        }
    }
}