<div class="new-icons">
	<div class="container-md">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-sm-6">
						<h4 class="heading" ng-transclude="title"></h4>
						<p ng-transclude="paragraph"></p>
					</div>
					<div class="col-sm-6 icons">
						<div class="row">
							<div class="col-xs-6" ng-transclude="icon1">
							</div>
							<div class="col-xs-6" ng-transclude="icon2">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>