<header>
	<div class="container-lg">
		<div class="row">
			<div class="col-xs-12">
				<nav id="menu">
				   <div class="logo"><a href="/"><img src="assets/images/santander-logo.svg" alt=""></a></div>
				   <div id="head-mobile"></div>
				   <div class="mobile-menu-button"></div>
				   <ul class="sub-menu">
				      <li ui-sref-active="active" class="active"><a ui-sref='logo'>Logo</a></li>
				      <li ui-sref-active="active" class="active"><a ui-sref='colour'>Colour</a></li>
				      <li ui-sref-active="active" class="active"><a ui-sref='typography'>Typography</a></li>
				      <li ui-sref-active="active" class="active"><a ui-sref='photography'>Photography</a></li>
				      <li ui-sref-active="active" class="active"><a ui-sref='iconography'>Iconography</a></li>
				      <li ui-sref-active="active" class="active"><a ui-sref='language'>Language</a></li>
				   </ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="container-md">
		<div class="header-title">	
			<div class="row">
				<div class="col-xs-12">
					<div class="wrapper">
						<h1 class="page-title" ng-transclude="title"></h1>
						<p class="page-intro-text" ng-transclude="text"></p>
						<div class="brackets">
							<div class="top-left"></div>
							<div class="top-right"></div>
							<div class="bottom-right"></div>
							<div class="bottom-left"></div>
				 		</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="arrow"></div>
</header>
