.block__single-image-large {
	text-align: center;
	margin-bottom: 50px;

	img {
		width: 100%;
		margin: 70px 0 0 0;
		@media(max-width: $screen-sm) {
			margin-top: 50px; 
		}
	}

	.desktop-visible {
		display: block;
		@media(max-width: $screen-sm) {
			display: none;
		}
	}

	.mobile-visible {
		width: 100%;
		max-width: 367px;
		margin: 0 auto;
		display: none;
		@media(max-width: $screen-sm) {
			display: block;
		} 
	}
}