.how-not-to {
    background: $red;
    color: $white;
    padding: 60px 0;
    position: relative;

    h1 {
        color: $white;
    }

    .arrow-top {
        position: absolute;
        z-index: 1;
        width: 0;
        height: 0;
        border-width: 30px;
        border-style: solid;
        border-color: transparent;
        left: calc(50% - 30px);
    }

    .arrow-top {
        border-top-color: $white;
        top: 0px;
    }
}