.block__brand-aproval {
    background-color: $red;
    padding: 50px 0;
    position: relative;

    h2 {
        color: $white;

        @media (max-width: $screen-sm) {
            margin-bottom: 15px;
        }
    }

    p {
        color: $white;

        @media (max-width: $screen-sm) {
            text-align: center;
            font-size: 15px;
        }
    }

    a {
        color: $white;
    }

    .arrow-bottom {
        border-top-color: $red;
        bottom: -60px;
    }
}