<sub-header class="home-sub-header">
	<sub-header-title>
		The brand principles
	</sub-header-title>
	<sub-header-text>
		One of the most important things about maintaining our brand is making sure everything is uniform and that it all ties together, from applying our brand logo to how we write to our customers. Using our brand consistently will help us communicate in a simple, personal and fair way.
	</sub-header-text>
</sub-header>
<brand-principles></brand-principles>
<brand-approval></brand-approval>
<footer-component>
    <main-title>
        Need more help?
    </main-title>
    <paragraph>
        If you need more information on how to use our brand, or you'd like to download our brand assets, please register at our asset library, Creative Bank.
    </paragraph>
    <laptop>
        <img src="assets/images/laptop/home.png" alt="Santander">
    </laptop>
</footer-component>
