<section class="wrong-logo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 logo-block">
                <div class="visual">
                    <img src="assets/images/logo/wrong-logo/logo-1.svg" alt="Wrong use of the logo">
                </div>
                <p class="wrong"><strong>Don't</strong> create or modify the logo</p>
            </div>
            <div class="col-xs-12 col-sm-4 logo-block">
                <div class="visual">
                    <img src="assets/images/logo/wrong-logo/logo-2.svg" alt="Wrong use of the logo">
                </div>
                <p class="wrong"><strong>Don't</strong> place a line around the logo</p>
            </div>
            <div class="col-xs-12 col-sm-4 logo-block">
                <div class="visual">
                    <img src="assets/images/logo/wrong-logo/logo-3.svg" alt="Wrong use of the logo">
                </div>
                <p class="wrong"><strong>Don't</strong> alter the colour of the logo</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 logo-block">
                <div class="visual">
                    <img src="assets/images/logo/wrong-logo/logo-4.svg" alt="Wrong use of the logo">
                </div>
                <p class="wrong"><strong>Don't</strong> crop or stretch the logo</p>
            </div>
            <div class="col-xs-12 col-sm-4 logo-block">
                <div class="visual">
                    <img src="assets/images/logo/wrong-logo/logo-5.svg" alt="Wrong use of the logo">
                </div>
                <p class="wrong"><strong>Don't</strong> separate the logo elements or alter the typeface</p>
            </div>
            <div class="col-xs-12 col-sm-4 logo-block">
                <div class="visual">
                    <img src="assets/images/logo/wrong-logo/logo-6.svg" alt="Wrong use of the logo">
                </div>
                <p class="wrong"><strong>Don't</strong> use old versions of the logo</p>
            </div>
        </div>
    </div>
    <div class="arrow-bottom"></div>
</section>