<div class="iconography-mobile">
	<div class="container-md">
	    <div class="row">
	    	<div class="col-xs-12">
	    		<div class="row">
	    			<div class="icons animated" animation-directive="{class: 'fadeInUp'}">
				        <div class="col-xs-4">
				        	<div class="row">
					        	<img src="assets/images/iconography/mouse.svg" alt="Mouse">
					        </div>
				        </div>
				        <div class="col-xs-4">
				        	<div class="row">
					        	<img src="assets/images/iconography/house.svg" alt="House">
						    </div>
				        </div>
				        <div class="col-xs-4">
				        	<div class="row">
					        	<img src="assets/images/iconography/mobile.svg" alt="Mobile">
						    </div>
				        </div>
				    </div>
			    </div>
		    </div>
			<div class="col-xs-12">
	    		<div class="row">
	    			<div class="icons animated" animation-directive="{class: 'fadeInUp'}">
				        <div class="col-xs-4">
				        	<div class="row">
					        	<img src="assets/images/iconography/wifi.svg" alt="Wi-Fi">
						    </div>
				        </div>
				        <div class="col-xs-4">
				        	<div class="row">
					        	<img src="assets/images/iconography/pin.svg" alt="Pin">
						    </div>
				        </div>
				        <div class="col-xs-4">
				        	<div class="row">
					        	<img src="assets/images/iconography/lock.svg" alt="Lock">
					        </div>
				        </div>
				    </div>
			    </div>
		    </div>
	    	<div class="col-xs-12">
	    		<div class="row">
	    			<div class="icons animated" animation-directive="{class: 'fadeInUp'}">
				        <div class="col-xs-4">
				        	<div class="row">
					        	<img src="assets/images/iconography/calculator.svg" alt="Calculator">
						    </div>
				        </div>
				        <div class="col-xs-4">
				        	<div class="row">
					        	<img src="assets/images/iconography/umbrela.svg" alt="Umbrela">
						    </div>
				        </div>
				        <div class="col-xs-4">
				        	<div class="row">
					        	<img src="assets/images/iconography/wallet.svg" alt="Wallet">
						    </div>
				        </div>
				    </div>
			    </div>
		    </div>
		    <div class="col-xs-12">
	    		<div class="row">
	    			<div class="icons animated" animation-directive="{class: 'fadeInUp'}">
	    				<div class="col-xs-4">
				        	<div class="row">
					        	<img src="assets/images/iconography/man.svg" alt="Man">
						    </div>
				        </div>
				        <div class="col-xs-4">
				        	<div class="row">
					        	<img src="assets/images/iconography/piggy-bank.svg" alt="Piggy Bank">
				        	</div>
				        </div>
				        <div class="col-xs-4">
				        	<div class="row">
					        	<img src="assets/images/iconography/exclamation.svg" alt="Exclamation">
						    </div>
				        </div>
				    </div>
			    </div>
		    </div>
	    	<div class="col-xs-12">
	    		<div class="row">
	    			<div class="icons animated" animation-directive="{class: 'fadeInUp'}">
				        <div class="col-xs-4">
				        	<div class="row">
					        	<img src="assets/images/iconography/envelope.svg" alt="Envelope">
						    </div>
				        </div>
				        <div class="col-xs-4">
				        	<div class="row">
					        	<img src="assets/images/iconography/phone.svg" alt="Phone">
						    </div>
				        </div>
				        <div class="col-xs-4">
				        	<div class="row">
					        	<img src="assets/images/iconography/flats.svg" alt="Flats">
						    </div>
				        </div>
				    </div>
			    </div>
		    </div>
		</div>
	</div>
	<div class="arrow"></div>
</div>