<div class="block__single-block">
	<div class="container-md">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="heading">Digital graphic typography</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-sm-6">
						<h3>Using typography within images for digital</h3>
						<p>Kievit is the support typeface used in advertising images. It’s applied in a graphic form to provide visual continuity between online and offline communications. The typeface is embedded in images.</p>
					</div>
					<div class="col-sm-6">
						<img src="assets/images/kievit.svg" alt="Kievit">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="arrow"></div>
</div>