.block__three-columns {
	text-align: center;
	margin-top: 100px;

	@media(max-width: $screen-md) {
		margin-top: 50px; 
	}

	.column-bg {
		background-color: $we-grey;
		padding: 25px 15px;

		@media(min-width: $screen-sm) {
			min-height: 100%;
		}

		@media(max-width: $screen-sm) {
			margin-bottom: 20px; 
		}


		h3 {
			color: $we-green;
			margin-bottom: 30px; 
		}
	}

	.equal {
		@media(min-width: $screen-sm) {
			display: flex;
	  		flex-wrap: wrap;
		}
	}
}