.block__three-columns {
	text-align: center;
	margin-top: 100px;

	.column-bg {
		background-color: $we-grey;
		padding: 20px;
		h3 {
			color: $we-green;
		}
	}

	.equal {
		@media(min-width: $screen-md) {
			display: flex;
	  		flex-wrap: wrap;
		}
	}
}