<div class="block__additional-colours">
	<div class="container-md hidden-sm-down">
	    <div class="row">
	    	<div class="col-xs-12 animated colours" animation-directive="{class: 'fadeInUp'}">
	    		<div class="row">
	    			<div class="ellipse">
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color brown"></div>
				        	<div class="values">
				        		<p>RGB: 149 102 25</p>
				        		<p>HEX: #956619</p>
				        	</div>
				        </div>
			        </div>
			        <div class="col-xs-3">
			        	<div class="row">
					      	<div class="secondary-color green"></div>
					        <div class="values">
					        	<p>RGB: 111 126 11</p>
					        	<p>HEX: #6F730B</p>
					        </div>
						    </div>
			        </div>
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color blue"></div>
				        	<div class="values">
					        	<p>RGB: 19 126 132</p>
					        	<p>HEX: #137E84</p>
					        </div>
					    	</div>
			        </div>
			        <div class="col-xs-3">
			        	<div class="row">
				        	<div class="secondary-color purple"></div>
				        	<div class="values">
					        	<p>RGB: 158 54 103</p>
					        	<p>HEX: #9E3667</p>
					        </div>
					    	</div>
			        </div>
				    </div>
			    </div>
		    </div>
		</div>
	</div>
	<div class="arrow hidden-sm-down"></div>

	<div class="container-md hidden-sm-up">
		<div class="row">
			<div ng-controller="AdditionalColourCtrl" >
				<div class="panel-header {{group.class}}" ng-repeat="group in groups">
					<uib-accordion close-others="oneAtATime">
						<div uib-accordion-group class="panel-default text-left" >
							<uib-accordion-heading>
								<div class="secondary-color {{group.class}} pull-left"></div>{{group.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-menu-down': status.open, 'glyphicon-menu-right': !status.open}"></i>
							</uib-accordion-heading>
							<div class="color-variation" ng-repeat="color in group.color">
								<div class="pull-left">
									<div class="secondary-color {{color.class}}"></div>
								</div>
								<div class="pull-left">
									<p>RBG: {{color.RGB}}</p>
									<p>HEX: {{color.HEX}}</p>
								</div>
							</div>
						</div>
					</uib-accordion>
				</div>
			</div>
		</div>
	</div>
</div>
