<single-block-logo>
    <main-title>Negative logo</main-title>
    <paragraph>Usually, the logo is contained within a red rectangle to make our brand stand out. We refer to this logo as the negative version and it’s the version we prefer to use across all communication channels.</paragraph>
    <visual>
        <img src="assets/images/santander-logo.svg" alt="Santander">
    </visual>
    <references-left>
        Pantone: Red 032 C<br>       
        CMYK: 0 100 100 0<br>
        RAL: 3020
    </references-left>
    <references-right>
        RGB: 236 0 0<br>      
        HEX: #EC0000
    </references-right>
</single-block-logo>

<single-block-logo>
    <main-title>Positive logo</main-title>
    <paragraph>Our logo is sometimes used without the red rectangle, which we call the positive version. We’d normally only use the positive version for internal stationery, like business cards.</paragraph>
    <visual>
        <img src="assets/images/positive-santander-logo.svg" alt="Santander">
    </visual>
    <references-left>
        Pantone: Red 032 C<br>       
        CMYK: 0 100 100 0
    </references-left>
    <references-right>
        RGB: 236 0 0<br>      
        HEX: #EC0000
    </references-right>
</single-block-logo>

<single-block-logo>
    <main-title>Black logo</main-title>
    <paragraph>We also have a black version of our logo, which we use in black and white documents.</paragraph>
    <visual>
        <img src="assets/images/black-santander-logo.svg" alt="Santander">
    </visual>
    <references-left>
        Pantone: Process Black<br>       
        CMYK: 0 0 0 100
    </references-left>
    <references-right>
        RGB: 0 0 0<br>      
        HEX: #000000
    </references-right>
</single-block-logo>

<grey-bg-image-block>
    <main-title>The Flame symbol</main-title>
    <paragraph>We should only use the flame on its own in small spaces that can’t accommodate the full logo. For example in branch signage or merchandise. The flame symbol isn’t a replacement for the Santander logo.<br><br>If you want to use the flame on its own then you’ll need to get permission from the <a href="mailto:BrandDesignApproval@santander.co.uk" title="Brand Team">Brand Team</a>.</paragraph>
    <visual>
        <img src="assets/images/flame.svg" alt="Santander">
    </visual>
    <references>
        Pantone: Red 032 C<br>
        CMYK: 0 100 100 0<br>
        RGB: 236 0 0<br>
        HEX: EC0000<br>
        RAL: 3020<br>
    </references>
</grey-bg-image-block>

<single-title-block>
    <main-title>Minimum size</main-title>  
    <paragraph>To make sure our logo isn't too small to be seen clearly, here are some minimum measurements.</paragraph>
</single-title-block>

<side-by-side-img>
    <title-left>Negative logo</title-left>
    <img-left><img src="assets/images/min-size-negative-logo.svg" alt="Santander" style="max-width: 237px;"></img-left>
    <reference-left>Minimum size<br>28mm for print or 96px for digital<br></reference-left>
    <title-right>Positive logo</title-right>
    <img-right><img src="assets/images/min-size-positive-logo.svg" alt="Santander" style="max-width: 237px;"></img-right>
    <reference-right>Minimum size<br>34mm for print or 110px for digital<br></reference-right>
</side-by-side-img>

<hr>

<single-title-block>
    <main-title>Clear space</main-title>  
    <paragraph>
        We maintain a clear space around the logo to preserve its integrity and separate it from competing graphic elements. A minimum clear space equal to half the height of the logo should be applied around it.</paragraph>
</single-title-block>

<side-by-side-img>
    <title-left>Negative logo</title-left>
    <img-left><img src="assets/images/clear-space-negative-logo.svg" alt="Santander"></img-left>
    <reference-left></reference-left>
    <title-right>Positive logo</title-right>
    <img-right><img src="assets/images/clear-space-positive-logo.svg" alt="Santander"></img-right>
    <reference-right></reference-right>
</side-by-side-img>

<placement-on-backgrounds>
    <main-title>Placement on backgrounds</main-title>  
    <paragraph>When the logo needs to be placed on a coloured background or over a photo, you need to make sure the logo shows up clearly. Where possible, always choose background colours or photos that give a good contrast with our logo.</paragraph>
    <image-one>
        <img src="assets/images/placement-on-background/santander-white-bg.svg" alt="">
    </image-one>
    <title-one>
        White backgrounds
    </title-one>
    <paragraph-one>
        The logo should be used with the red rectangle.
    </paragraph-one>
    <image-two>
        <img src="assets/images/placement-on-background/santander-red-bg.svg" alt="">
    </image-two>
    <image-three>
        <img src="assets/images/placement-on-background/santander-black-bg.svg" alt="">
    </image-three>
    <title-two>
        Red and black backgrounds
    </title-two>
    <paragraph-two>
        The corporate logo rectangle blends in with a Pantone 032 or black background when we use a red Pantone or mono logo.<br>
        The borders of the original background must not be changed or cropped.
    </paragraph-two>
    <image-four>
        <img src="assets/images/placement-on-background/santander-orange-bg.svg" alt="">
    </image-four>
    <image-five>
        <img src="assets/images/placement-on-background/santander-colored-bg.jpg" alt="">
    </image-five>
    <image-six>
        <img src="assets/images/placement-on-background/santander-BW-bg.jpg" alt="">
    </image-six>
    <title-three>
        Colour and photographic backgrounds
    </title-three>
    <paragraph-three>
        The logo should be used with the red rectangle, so in exactly the same way as we would on a white background.
    </paragraph-three>
</placement-on-backgrounds>

<single-title-block>
    <main-title>Dual branding</main-title>  
    <paragraph>
        Sometimes, we’ll need to display our brand alongside other brands. When we do this, we need to make sure that our logo is displayed in the right way, so we don’t lose any of our visibility as a brand. Here’s what to do in different scenarios.
    </paragraph>
</single-title-block>

<single-block-logo>
    <main-title>In vertical applications</main-title>
    <paragraph>
        Logos from other brands should be positioned above our logo, so ours is at the bottom. The minimum distance between the top of our logo and the bottom of the logo above should be half the height of our logo. 
    </paragraph>
    <visual>
        <img src="assets/images/logo/vertical_applications.svg" alt="Santander">
    </visual>
    <references-left>
        
    </references-left>
    <references-right>
        
    </references-right>
</single-block-logo>

<single-block-logo>
    <main-title>In horizontal applications</main-title>
    <paragraph>
        Logos from other brands should be positioned to the left of our logo. The minimum space between the other brand’s logo and our logo should be the same as the height of our logo.
    </paragraph>
    <visual>
        <img src="assets/images/logo/horizontal_applications.svg" alt="Santander">
    </visual>
    <references-left>
        
    </references-left>
    <references-right>
        
    </references-right>
</single-block-logo>

<how-not-to>
    <main-title>How not to use the logo</main-title>
    <paragraph>
        If you use any of the elements of the Santander logo, you must strictly follow the rules in this guide. Below we have some examples of how the logo shouldn’t be used.
    </paragraph>
</how-not-to>

<wrong-logo></wrong-logo>