<div class="block__brand-priciples">
	<div class="container-lg">
		<div class="row">
			<div class="col-sm-4">
				<h3>Logo</h3>
				<img src="assets/images/santander-logo.svg" alt="Santander Logo">
			</div>
			<div class="col-sm-4">
				<h3>Colour</h3>
				<img src="assets/images/colour.svg" alt="Colour">
			</div>
			<div class="col-sm-4">
				<h3>Typography</h3>
				<img src="assets/images/typography.svg" alt="Typography">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h3>Photography</h3>
				<img src="assets/images/photography.jpg" alt="Photography">
			</div>
			<div class="col-sm-4">
				<h3>Iconography</h3>
				<img src="assets/images/iconography.svg" alt="Iconography">

			</div>
			<div class="col-sm-4">
				<h3>Language</h3>
				<img src="assets/images/language.svg" alt="Language">
			</div>
		</div>
	</div>
	<div class="arrow-bottom"></div>
</div>