.block__motion-momentum {
	background-image: url(assets/images/we_worldwide/momentum-bg-image.png);
	background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;

	.momentum-sub-header-reset {
		.block__single-heading {
			.subheading {
				margin: 0 0 20px 0;
			}
		}
	}

	.block__single-heading {
		@media(max-width: $screen-sm) {
            padding-bottom: 30px;
        }
	}

	.subheading-paragraph {
		text-align: center;


		h3 {
            margin-bottom: 30px;
            font-family: 'BentonSansLight', Arial, sans-serif;
            padding-top: 65px;
            @media(max-width: $screen-sm) {
                padding-top: 30px;
                margin-bottom: 20px; 
            }
        }

        p {
            @media(max-width: $screen-sm) {
                padding: 0 15px;
            }
        }
	}

	.parallax-bgimg-1, .parallax-bgimg-2 {
	    position: relative;
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

	.parallax-bgimg-1 {
	    background-image: url(assets/images/we_worldwide/parallax/momentum-1.jpg);
		min-height: 320px;
		@media(max-width: $screen-sm) {
			min-height: 300px;
		}
	}

	.parallax-bgimg-2 {
		background-image: url(assets/images/we_worldwide/parallax/momentum-2.jpg);
		min-height: 490px;
		@media(max-width: $screen-sm) {
			min-height: 300px;
		}
	}
	
	.momentum-table {
		padding: 50px 15px;

		@media(max-width: $screen-sm) {
			padding: 30px 15px 10px 15px;
		}

		tr {
            .st-key, .st-val {
                font-size: 20px;
            }

            .st-val {
            	.bold-grey-text {
            		font-size: 18px;
            	}
            }
        }

		th {
			color: $we-green;
			font-family: 'BentonSansBold', Arial, sans-serif;
			font-size: 22px;
			text-transform: uppercase;
			padding-bottom: 30px;
			border: none;
		}

		td {
			color: #5a5a5a;
			font-family: 'BentonSansLight', Arial, sans-serif;
			font-size: 17px;
			padding: 30px 10px;
			border: none;
			max-width: 195px;

			&:first-child {
				padding: 30px 10px 30px 0;
			}
		}

		.bold-text {
			color: $white;
			font-family: 'BentonSansBold', Arial, sans-serif;
			font-size: 22px;
			text-transform: uppercase;
			min-width: 195px;
		}

		.bold-grey-text {
			font-family: 'BentonSansBold', Arial, sans-serif;
			font-size: 15px;
			text-transform: uppercase;
			color: #808080;
		}

		.last-table-row {
			td {
				font-style: italic;
			}
			.bold-text {
				font-style: normal;
			}
			.st-key {
				font-style: normal;
			}
		}

		.st-head-row {
			color: $white;
			padding-bottom: 0;
		}

		.st-key {
			color: $we-green;
			width: 10%;

			&:first-child {
				padding: 15px 10px 15px 0;
			}
		}

		.st-val  {
			padding: 15px 10px;
		}
		.st-head-row.st-head-row-main {
			display: none;
		}
	}
}


