.block__motion-momentum {
	background-image: url(assets/images/we_worldwide/momentum-bg-image.png);
	background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

	.momentum-sub-header-reset {
		.block__single-heading {
			.subheading {
				margin: 0 0 20px 0;
			}
		}
	}
}