.block__motion-momentum {
	.momentum-sub-header-reset {
		.block__single-heading {
			.subheading {
				margin: 0 0 20px 0;
			}
		}
	}

	.parallax-bgimg-1, .parallax-bgimg-2 {
	    position: relative;
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

	.parallax-bgimg-1 {
	    background-image: url(assets/images/we_worldwide/parallax/momentum-1.jpg);
		min-height: 360px;
		@media(max-width: $screen-sm) {
			min-height: 300px;
		}
	}

	.parallax-bgimg-2 {
		background-image: url(assets/images/we_worldwide/parallax/momentum-2.jpg);
		min-height: 360px;
		@media(max-width: $screen-sm) {
			min-height: 300px;
		}
	}
}