.block__brand-priciples {
    text-align: center;
    padding: 0 0 100px 0;
    position: relative;

    @media (max-width: $screen-md) {
        padding-bottom: 50px;
    }

    h2 {
        margin: 30px 0;
    }

    h3 {
        margin: 50px 0 35px;

        @media (max-width: $screen-sm) {
            margin: 38px 0 21px 0;
        }
    }

    p {
        border-bottom: 1px solid $light-grey;
        padding-bottom: 40px;
    }

    a {
        text-decoration: none;
        &:hover {
            color: $red3;
            text-decoration: underline;
            h3 {
                color: $red3;
            }
        }
    }

    img {
        width: 300px;

        @media (max-width: $screen-md) {
            width: 100%;
            max-width: 320px;
        }
    }

    .arrow-bottom {
        border-top-color: $white;
        bottom: -60px;
    }
}