.block__double-block {
    padding-bottom: 85px;
    position: relative;

    @media (max-width: $screen-sm) {
        padding-bottom: 55px;
    }

    h2 {
        text-align: center;
        margin-top: 15px;
        padding-bottom: 30px;
        border-bottom: 1px solid $light-grey;
    }

    h3 {
        font-size: 20px;
        margin: 40px 0 25px;

        @media (max-width: $screen-sm) {
            margin: 25px 0 25px;
        }
    }

    img {
        margin-top: 40px;

        @media (max-width: $screen-md) {
            width: 75%;
        }

        @media (max-width: $screen-sm) {
            width: 95%;
        }
    }

    hr {
        border-top: 1px solid $light-grey;
        margin: 70px 0 0 0;

        @media (max-width: $screen-md) {
            margin: 50px 0 0 0;
        }

        @media (max-width: $screen-sm) {
            margin: 30px 0 0 0;
        }
        &:first-child {
            margin: 0;
        }
    }

    .arrow-up {
        position: absolute;
        top: 0;
        width: 100%;

        &:before, &:after {
            content: '';
            position: absolute;
            bottom: 100%;
            width: 50%;
            box-sizing: border-box;
        }

        &:before {
            right: 50%;
            border-bottom: 30px solid $white;
            border-right: 30px solid transparent;
        }

        &:after {
            left: 50%;
            border-bottom: 30px solid $white;
            border-left: 30px solid transparent;
        }
    }

    .arrow-down {
        position: absolute;
        bottom: 0;
        width: 100%;

        &:before, &:after {
            content: '';
            position: absolute;
            bottom: 100%;
            width: 50%;
            box-sizing: border-box;
        }

        &:before {
            right: 50%;
            border-bottom: 30px solid $lighter-grey;
            border-right: 30px solid transparent;
        }

        &:after {
            left: 50%;
            border-bottom: 30px solid $lighter-grey;
            border-left: 30px solid transparent;
        }
    }

    .fade__sub-header {
        opacity: 0;
        animation-duration: 2s;
    }
}

