.block__single-block {
    padding-bottom: 60px;
    position: relative;

    hr {
        border-top: 1px solid $light-grey;
    }

    h2 {
        text-align: center;
        margin-top: 25px;
        padding-bottom: 30px;
        border-bottom: 1px solid $light-grey;
    }

    h3 {
        font-size: 20px;
        margin: 40px 0 25px;
    }

    img {
        margin: 40px 0;
    }

    .references {
        font-size: 13px;
    }

    .arrow {
        position: absolute;
        bottom: 0;
        width: 100%;

        &:before, &:after {
            content: '';
            position: absolute;
            bottom: 100%;
            width: 50%;
            box-sizing: border-box;
        }

        &:before {
            right: 50%;
            border-bottom: 30px solid $red;
            border-right: 30px solid transparent;
        }

        &:after {
            left: 50%;
            border-bottom: 30px solid $red;
            border-left: 30px solid transparent;
        }
    }
}