.block__single-block-text-two-arrows {
    text-align: center;
    background-color: $red;
    padding: 30px 0 75px;
    color: $white;
    position: relative;

    p {
        font-size: 19px;
        line-height: 1.474;
        padding: 0 40px;

        @media (max-width: $screen-md) {
            padding: 0 100px;
        }

        @media (max-width: $screen-sm) {
            padding: 0;
            font-size: 15px;
        }
    }

    a {
        color: $white;
    }

    .arrow-top-text {
        position: absolute;
        top: 0;
        width: 100%;

        &:before, &:after {
            content: '';
            position: absolute;
            bottom: 100%;
            width: 50%;
            box-sizing: border-box;
        }

        &:before {
            right: 50%;
            border-bottom: 30px solid $red;
            border-right: 30px solid transparent;
        }

        &:after {
            left: 50%;
            border-bottom: 30px solid $red;
            border-left: 30px solid transparent;
        }
    }

    .arrow-bottom-text {
        position: absolute;
        bottom: 0;
        width: 100%;

        &:before, &:after {
            content: '';
            position: absolute;
            bottom: 100%;
            width: 50%;
            box-sizing: border-box;
        }

        &:before {
            right: 50%;
            border-bottom: 30px solid $lighter-grey;
            border-right: 30px solid transparent;
        }

        &:after {
            left: 50%;
            border-bottom: 30px solid $lighter-grey;
            border-left: 30px solid transparent;
        }
    }
}