@font-face {
    font-family: 'BentonSansBold';
    src: url('/assets/fonts/BentonSans-Bold_sOT.eot');
    src: url('/assets/fonts/BentonSans-Bold_sOT.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/BentonSans-Bold_sOT.woff') format('woff'),
         url('/assets/fonts/BentonSans-Bold_sOT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BentonSansMedium';
    src: url('/assets/fonts/BentonSans-Medium_sOT.eot');
    src: url('/assets/fonts/BentonSans-Medium_sOT.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/BentonSans-Medium_sOT.woff') format('woff'),
         url('/assets/fonts/BentonSans-Medium_sOT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BentonSansLight';
    src: url('/assets/fonts/BentonSans-Light_sOT.eot');
    src: url('/assets/fonts/BentonSans-Light_sOT.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/BentonSans-Light_sOT.woff') format('woff'),
         url('/assets/fonts/BentonSans-Light_sOT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BBentonSansExtraLight';
    src: url('/assets/fonts/BentonSans-ExtraLight_sOT.eot');
    src: url('/assets/fonts/BentonSans-ExtraLight_sOT.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/BentonSans-ExtraLight_sOT.woff') format('woff'),
         url('/assets/fonts/BentonSans-ExtraLight_sOT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BentonSansRegular';
    src: url('/assets/fonts/BentonSans-Regular_sOT.eot');
    src: url('/assets/fonts/BentonSans-Regular_sOT.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/BentonSans-Regular_sOT.woff') format('woff'),
         url('/assets/fonts/BentonSans-Regular_sOT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BentonSansCondensedRegular';
    src: url('/assets/fonts/BentonSansCondensed-Regular_sOT.eot');
    src: url('/assets/fonts/BentonSansCondensed-Regular_sOT.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/BentonSansCondensed-Regular_sOT.woff') format('woff'),
         url('/assets/fonts/BentonSansCondensed-Regular_sOT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BentonSansThin';
    src: url('/assets/fonts/BentonSans-Thin_sOT.eot');
    src: url('/assets/fonts/BentonSans-Thin_sOT.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/BentonSans-Thin_sOT.woff') format('woff'),
         url('/assets/fonts/BentonSans-Thin_sOT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BentonSansBlack';
    src: url('/assets/fonts/BentonSans-Black_sOT.eot');
    src: url('/assets/fonts/BentonSans-Black_sOT.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/BentonSans-Black_sOT.woff') format('woff'),
         url('/assets/fonts/BentonSans-Black_sOT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BentonSansBook';
    src: url('/assets/fonts/BentonSans-Book_sOT.eot');
    src: url('/assets/fonts/BentonSans-Book_sOT.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/BentonSans-Book_sOT.woff') format('woff'),
         url('/assets/fonts/BentonSans-Book_sOT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}