.block__footer {
    background-color: $lighter-grey;
    padding: 60px 0;
    position: relative;
    display: block;
    width: 100%;
    overflow-x: hidden;

    @media (max-width: $screen-sm) {
        padding: 40px 0;
    }

    #footer-section-logo,
    #footer-section-colour,
    #footer-section-typography,
    #footer-section-photography,
    #footer-section-icon,
    #footer-section-language {
        opacity: 0;
        animation-duration: 2s;
    }

    .heading {
        color: $black;
        margin-bottom: 20px;
    }

    .laptop {
        text-align: center;

        img {
            width: 100%;

            @media (max-width: $screen-sm) {
                width: 300px;
            }

            @media (max-width: $screen-xs) {
                width: 100%;
                max-width: 300px;
            }
        }
    }

    a.red-button {
        border-radius: 50px;
        padding: 7px 30px;
        word-break: break-all;
        white-space: normal;
        background-color: $red;
        font-size: 17px;
        margin: 30px 0;
        text-decoration: none;

        &:hover, &:focus {
            color: $white;
            background-color: $dark-red;
        }

        @media (max-width: $screen-xs) {
            font-size: 17px;
        }
    }

    p {
        @media (max-width: $screen-sm) {
            text-align: center;
        }
    }
}

.footer {
    padding: 30px 0;

    ul {
        list-style-type: none;
        overflow: hidden;

        li {
            display: inline-block;
            margin: 0 5px;
            vertical-align: middle;

            &:after {
                content: "|";
                font-size: 10px;
                margin-left: 10px;
            }

            &:last-child {
                &:after {
                    content: "";
                    margin: 0;
                }
            }
        }
    }
}