.main-nav {
    width: 100%;
    height: 144px;
    top: 0;
    z-index: 3;
    margin: 0;

    .navigation {
        padding: 30px 30px 0 30px;

        @media(max-width: $screen-md) {
            padding-top: 20px;
        }

        @media(max-width: $screen-sm) {
            padding: 20px 25px 0 25px;
        }
        #menu {
            border-bottom: 2px solid $we-grey;
            padding-bottom: 30px;
            @media(max-width: $screen-md) {
                padding-bottom: 20px;
            }
            .sub-menu {
                img {
                    position: absolute;
                    top: 7px;
                    right: -10px;
                }
            }
        }
    }
    &.active {
        z-index: 3;
    }
}

.block__terms {
    header {
        min-height: 0;
        overflow-y: hidden;
        position: fixed;
        width: 100%;
    }

    .terms {
        padding-top: 63px;

        @media (max-width: $screen-md) {
            padding-top: 56px;
        }
    }
}

.logo {
    position: relative;
    float: left;
    img {
        @media (max-width: $screen-md) {
            width: 80px;
            padding-top: 10px;
        }
    }
    a {
        color: $white;
    }
}

nav {
    position: relative;
    width: 100%;
}

#menu, #menu ul, #menu ul li, #menu ul li a, #menu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
}

#menu:after, #menu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#menu ul li.active a {
    color: $we-green;
}

#menu #head-mobile {
    display: none;
}

#menu {
    font-family: 'BentonSansLight', Arial, sans-serif;
}

#menu > ul > li {
    float: left;
    padding: 15px 15px;
    &:last-child {
        padding-right: 0;
    }
    @media (max-width: $screen-lg) {
        padding: 15px 15px;
    }
    @media (max-width: $screen-md) {
        padding: 25px 10px;
    }
}

#menu > ul > li > a {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: $white;
    font-weight: 300;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    &:hover {
        color: $we-green;
    }
}

@media screen and (max-width: 992px) {
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        float: none;
    }
    nav {
        width: 100%;
    }
    #menu {
        width: calc(100% + 30px);
        background-color: $black;
        position: relative;
        z-index: 10;
        left: 15px;
        &.fixed {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }
    }
    #menu ul {
        width: 100%;
        display: none;
        background-color: rgba(21, 21, 21, 0.5);
    }
    #menu ul li {
        width: 100%;
    }
    #menu ul ul li, #menu li:hover > ul > li {
        height: auto;
    }
    #menu ul li a, #menu ul ul li a {
        width: 100%;
        color: $we_green;
        font-size: 16px;
        font-family: 'BentonSansLight', Arial, sans-serif;
        font-weight: 300;
    }
    #menu > ul > li:hover > a, #menu ul li.active a {
        color: $white;
    }
    #menu > ul > li {
        float: none;
        text-align: right;
        padding: 0;
    }
    #menu > ul > li > a {
        padding: 20px 15px;
        &:hover {
            color: $white;
        }
    }
    #menu ul ul li a {
        padding-left: 25px;
    }
    #menu ul ul ul li a {
        padding-left: 35px;
    }
    #menu ul ul li a {
        color: $white;
        background: none;
    }
    #menu ul ul li:hover > a, #menu ul ul li.active > a {
        color: $white;
    }
    #menu ul ul, #menu ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left;
    }
    #menu > ul > li.has-sub > a:after, #menu > ul > li.has-sub > a:before, #menu ul ul > li.has-sub > a:after, #menu ul ul > li.has-sub > a:before {
        display: none;
    }
    #menu #head-mobile {
        display: block;
        padding: 28px;
        color: $white;
        font-size: 13px;
        font-weight: 700;
    }
    .mobile-menu-button {
        width: 60px;
        height: 56px;
        position: absolute;
        right: -10px;
        top: 0;
        cursor: pointer;
        z-index: 12399994;
    }
    .mobile-menu-button:after {
        position: absolute;
        top: 26px;
        right: 12px;
        display: block;
        height: 10px;
        width: 30px;
        border-top: 2px solid $white;
        border-bottom: 2px solid $white;
        content: '';
    }
    .mobile-menu-button:before {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        position: absolute;
        top: 18px;
        right: 12px;
        display: block;
        height: 2px;
        width: 30px;
        background: $white;
        content: '';
    }
    .mobile-menu-button.menu-opened:after {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        top: 25px;
        border: 0;
        height: 2px;
        width: 30px;
        background: $black;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .mobile-menu-button.menu-opened:before {
        top: 25px;
        background: $black;
        width: 30px;
        height: 2px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    #menu ul ul .submenu-button {
        height: 34px;
        width: 34px;
    }
    #menu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: $white;
        content: '';
    }
    #menu ul ul .submenu-button:after {
        top: 15px;
        right: 13px;
    }
    #menu .submenu-button.submenu-opened:after {
        background: $white;
    }
    #menu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: $white;
        content: '';
    }
    #menu ul ul .submenu-button:before {
        top: 12px;
        right: 16px;
    }
    #menu .submenu-button.submenu-opened:before {
        display: none;
    }
    #menu ul ul ul li.active a {
        border-left: none;
    }
    #menu > ul > li.has-sub > ul > li.active > a, #menu > ul ul > li.has-sub > ul > li.active > a {
        border-top: none;
    }
}

/* Mobile Menu Styling */

/* Part 1 Start */

/**
 * Menu overview.
 */
.c-menu {
  position: fixed;
  z-index: 200;
  background-color: rgba(255,255,255,0.08);
  transition: transform 0.3s;
}

.c-menu__item {
    a {
        &:hover {
            color: $we-green;
        }
    }
}

.c-menu__item.active {
    a {
        color: $we-green;
        text-decoration: none;
    }
}

.c-menu__items {
  list-style: none;
  margin: 50px 0 0 0;
  padding: 0;
  img {
    padding-right: 30px;
  }
}

/**
 * Close button resets.
 */
.c-menu__close {
  color: #fff;
  background-color: rgba(255,255,255, 0.05);
  font-size: 14px;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;

  &:hover {
    color: $we-green;
  }
}

/**
 * Close button resets.
 */
.c-menu__close:focus {
  outline: none;
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden;
}

/**
 * Mask component
 */

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  transition: opacity 0.3s;
}

/* Part 1 End */

/* Part 2 Start */

.c-menu--slide-left,
.c-menu--slide-right,
.c-menu--push-left,
.c-menu--push-right {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@media all and (min-width: 320px) {
  .c-menu--slide-left,
  .c-menu--slide-right,
  .c-menu--push-left,
  .c-menu--push-right {
    width: 280px;
  }
}

.c-menu--slide-left .c-menu__item,
.c-menu--slide-right .c-menu__item,
.c-menu--push-left .c-menu__item,
.c-menu--push-right .c-menu__item {
  display: block;
  text-align: right;
}

.c-menu--slide-left .c-menu__item:first-child,
.c-menu--slide-right .c-menu__item:first-child,
.c-menu--push-left .c-menu__item:first-child,
.c-menu--push-right .c-menu__item:first-child {
  border-top: none;
}

.c-menu--slide-left .c-menu__item:last-child,
.c-menu--slide-right .c-menu__item:last-child,
.c-menu--push-left .c-menu__item:last-child,
.c-menu--push-right .c-menu__item:last-child {
  border-bottom: none;
}

.c-menu--slide-left .c-menu__link,
.c-menu--slide-right .c-menu__link,
.c-menu--push-left .c-menu__link,
.c-menu--push-right .c-menu__link {
  display: block;
  padding: 12px 24px;
  color: #fff;
}

.c-menu--slide-left .c-menu__close,
.c-menu--slide-right .c-menu__close,
.c-menu--push-left .c-menu__close,
.c-menu--push-right .c-menu__close {
  display: block;
  padding: 12px 24px;
  width: 100%;
}

/* Part 2 End */

/* Part 3 Start */

.c-menu--slide-right,
.c-menu--push-right {
  top: 0;
  right: 0;
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .c-menu--slide-right,
  .c-menu--push-right {
    transform: translateX(280px);
  }
}

.c-menu--slide-right.is-active,
.c-menu--push-right.is-active {
  transform: translateX(0);
}

/* Part 3 End */

/* Part 4 Start */

.o-wrapper.has-push-left {
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .o-wrapper.has-push-left {
    transform: translateX(280px);
  }
}

.o-wrapper.has-push-right {
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .o-wrapper.has-push-right {
    transform: translateX(-280px);
  }
}

/* Part 4 End */
