h1, h2, h3, h4 {
    font-family: 'BentonSansBold';
    color: $we_green;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;

    @media (max-width: $screen-md) {
        font-size: 36px;
        line-height: 1.223;
    }

    @media (max-width: $screen-xs) {
        font-size: 28px;
        line-height: 1.179;
    }
}

h2 {
    font-size: 20px;
    line-height: 1.200;
}

h3 {
    font-size: 20px;
    line-height: 1.188;
}

h4 {
    font-size: 20px;
    line-height: 1.4;
}

a {
    font-family: 'BentonSansLight';
    text-transform: uppercase;
    &:hover {
        text-decoration: none;
    }
}

p {
    font-size: 20px;
    line-height: 1.4;
    font-family: 'BentonSansLight';
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: $white;
}