<sub-header>
	<sub-header-title>
		Values
	</sub-header-title>
	<sub-header-text>
        The main guide shares the key ideas behind writing for simple, personal and fair values. We also have seven other media specific guides. These guides cover social media, digital, email, intranet, internal policy, promotional items and letters. They are packed full of tips and handy examples, so you can see how to bring our language to life. 
    </sub-header-text>
</sub-header>
<language-component></language-component>
<footer-component>
    <main-title>
        Need more help?
    </main-title>
    <paragraph>
        To see our complete set of language guides please go to our asset library, Creative Bank. 
    </paragraph>
    <laptop>
        <img src="assets/images/laptop/language.png" alt="Santander">
    </laptop>
</footer-component>
