.block__single-heading {
	text-align: center;

    h2 {
        font-size: 35px;
        line-height: 1;
        margin: 20px 0 5px 0;
        color: $we-green;
    }

    p {
        color: $white;
        font-size: 20px;
        line-height: 28px;
    }
    img {
        height: 18px;
        margin: 5px 0 30px 0;
    }
    .subheading {
        margin-top: 115px;
        padding: 0 30px;
        @media (max-width: $screen-md) {
            margin-top: 30px;
        }
    }

    .uppercase-italic {
        text-transform: uppercase;
        font-family: 'BentonSansBold';
        font-style: italic;
    }

    .grey-text {
        color: $grey-text;
        font-size: 20px;
    }

    .bold-text {
        font-family: 'BentonSansBold';
    }
}

.second-sub-header {
    .subheading {
        margin-bottom: 60px;
        padding: 0 30px;

        img {
            height: 18px;
        }
    }

    p {
        @media (max-width: $screen-sm) {
            padding-bottom: 0;
        }
    }
}