<div class="main-nav">
	<div class="col-xs-12 navigation">
		<nav id="menu" ng-class="{'is-open': IsNavOpen, '': !IsNavOpen}">
		   <div class="logo"><a ui-sref="home"><img src="assets/images/we_worldwide/we-logo.png" alt="We Worldwide"></a></div>
		   <div id="head-mobile"></div>
		   <div ng-click="mobileMenu()" class="mobile-menu-button" ng-class="{'is-open': IsNavOpen, '': !IsNavOpen}"></div>
		   <ul class="sub-menu">
		      <li ui-sref-active="active" class="active"><a ui-sref='home'>Home</a></li>
		      <li ui-sref-active="active" class="active"><a ui-sref='about'>About</a></li>
		      <li ui-sref-active="active" class="active"><a ui-sref='brands'>Brands in Motion</a></li>
		      <li ui-sref-active="active" class="active"><a ui-sref='momentum'>Momentum</a></li>
		      <li ui-sref-active="active" class="active"><a ui-sref='stories'>Stories in Motion</a></li>
		      <li ui-sref-active="active" class="active"><a ui-sref='motion'>Motion Lab</a></li>
		   </ul>
		</nav>
	</div>
</div>