.block__brands-page {
	background-image: url(assets/images/we_worldwide/brands-in-motion-bg.png);
	background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;

    .subheading-table-reset {
    	.heading {
    		margin: 0;
    	}
    	.image {
    		margin-bottom: 20px; 
    	}
    }
    .parallax-bgimg-1 {
        background-image: url(assets/images/we_worldwide/parallax/brands-in-motion.jpg);
        min-height: 360px;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media(max-width: $screen-sm) {
            min-height: 300px;
        }
    }
}