<div class="main-nav">
	<div class="col-xs-12 navigation">
		<nav id="menu" class="" ng-class="{'is-open': IsNavOpen, '': !IsNavOpen}">
		    <div class="logo"><a ui-sref="home"><img src="assets/images/we_worldwide/we-logo.png" alt="We Worldwide"></a></div>
		    <div id="head-mobile"></div>
		    <div ng-click="mobileMenu()" class="mobile-menu-button" ng-class="{'is-open': IsNavOpen, '': !IsNavOpen}"></div>
		    <ul class="sub-menu">
				<li ui-sref-active="active" class="active"><a ui-sref='home'>Home</a><img src="assets/images/we_worldwide/menu-spacer.png"></li>
				<li ui-sref-active="active" class="active"><a ui-sref='about'>About</a><img src="assets/images/we_worldwide/menu-spacer.png"></li>
				<li ui-sref-active="active" class="active"><a ui-sref="progress">Progress</a><img src="assets/images/we_worldwide/menu-spacer.png"></li>
				<li ui-sref-active="active" class="active"><a ui-sref='brands'>Brands in Motion</a><img src="assets/images/we_worldwide/menu-spacer.png"></li>
				<li ui-sref-active="active" class="active"><a ui-sref='momentum'>Momentum</a><img src="assets/images/we_worldwide/menu-spacer.png"></li>
				<li ui-sref-active="active" class="active"><a ui-sref='stories'>Stories in Motion</a><img src="assets/images/we_worldwide/menu-spacer.png"></li>
				<li ui-sref-active="active" class="active"><a ui-sref='motion'>Motion Lab</a><img src="assets/images/we_worldwide/menu-spacer.png"></li>
				<li ui-sref-active="active" class="active"><a ui-sref='how'>Making it work</a></li>
		    </ul>
		</nav>
		<main class="o-content">
		    <div class="o-container">

		    </div><!-- /o-container -->
		</main><!-- /o-content -->
		<nav id="c-menu--slide-right" class="c-menu c-menu--slide-right">
			<!-- <button ng-click="closeMobileMenu()" class="c-menu__close active">Close Menu &rarr;</button> -->
				<ul class="c-menu__items">
					<li ui-sref-active="active" class="c-menu__item active"><a ui-sref='home' class="c-menu__link">Home</a><img src="assets/images/we_worldwide/menu-spacer-mobile.png"></li>
					<li ui-sref-active="active" class="c-menu__item active"><a ui-sref='about' class="c-menu__link">About</a><img src="assets/images/we_worldwide/menu-spacer-mobile.png"></li>
					<li ui-sref-active="active" class="c-menu__item active"><a ui-sref='progress' class="c-menu__link">Progress</a><img src="assets/images/we_worldwide/menu-spacer-mobile.png"></li>
					<li ui-sref-active="active" class="c-menu__item active"><a ui-sref='brands' class="c-menu__link">Brands in Motion</a><img src="assets/images/we_worldwide/menu-spacer-mobile.png"></li>
					<li ui-sref-active="active" class="c-menu__item active"><a ui-sref='momentum' class="c-menu__link">Momentum</a><img src="assets/images/we_worldwide/menu-spacer-mobile.png"></li>
					<li ui-sref-active="active" class="c-menu__item active"><a ui-sref='stories' class="c-menu__link">Stories in Motion</a><img src="assets/images/we_worldwide/menu-spacer-mobile.png"></li>
					<li ui-sref-active="active" class="c-menu__item active"><a ui-sref='motion' class="c-menu__link">Motion Lab</a><img src="assets/images/we_worldwide/menu-spacer-mobile.png"></li>
					<li ui-sref-active="active" class="c-menu__item active"><a ui-sref='how' class="c-menu__link">Making it work</a></li>
				</ul>
		</nav><!-- /c-menu slide-right -->
		<div id="c-mask" class="c-mask"></div><!-- /c-mask -->
	</div>
</div>