<div class="block__brand-priciples">
  <div class="container-lg">
    <div class="row">
      <div class="col-sm-4">
        <a ui-sref="logo">
          <h3>Logo</h3>
          <img src="assets/images/santander-logo.svg" alt="Santander Logo">
        </a>
      </div>
      <div class="col-sm-4">
        <a ui-sref="colour">
          <h3>Colour</h3>
          <img src="assets/images/colour.svg" alt="Colour">
        </a>
      </div>
      <div class="col-sm-4">
        <a ui-sref="typography">
          <h3>Typography</h3>
          <img src="assets/images/typography.svg" alt="Typography">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <a ui-sref="photography">
          <h3>Photography</h3>
          <img src="assets/images/photography.jpg" alt="Photography">
        </a>
      </div>
      <div class="col-sm-4">
        <a ui-sref="iconography">
          <h3>Iconography</h3>
          <img src="assets/images/iconography.svg" alt="Iconography">
        </a>
      </div>
      <div class="col-sm-4">
        <a ui-sref="language">
          <h3>Language</h3>
          <img src="assets/images/language.svg" alt="Language">
        </a>
      </div>
    </div>
  </div>
  <div class="arrow-bottom"></div>
</div>
