<section class="how-to-write-personally">
    <div class="container-md">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <h2>How to write<br><span>personally</span></h2>
                <p class="intro">Write the face-to-face conversations you'd want to have.</p>
                
            </div>
            <div class="col-xs-12 col-sm-4">
                <ul>
                    <li>Translate jargon.</li>
                    <li>Be sincere.</li>
                    <li>Write it how you'd say it.</li>
                </ul>
            </div>
        </div>
    </div>
</section>