.how-to-write-personally {
    background: $red;
    color: $white;
    padding: 60px 0;

    @media (max-width: $screen-xs) {
        padding: 40px 0;
    }

    h2 {
        color: $white;
        font-size: 40px;
        margin-bottom: 15px;
        line-height: 1;
        font-weight: 700;

        span {
            font-size: 90px;
        }

        @media (max-width: $screen-xs) {
            font-size: 20px;

            span {
                font-size: 50px;
            }
        }
    }

    p {
        font-size: 19px;
        font-family: 'Open Sans';
        font-weight: 400;
        margin-bottom: 40px;
        padding-right: 80px;

        @media (max-width: $screen-xs) {
            font-size: 16px;
            margin-bottom: 25px;
            padding-right: 0px;
        }
    }

    ul {
        li {
            background: url(../assets/images/language/white-tick.svg) no-repeat;
            background-size: 23px 23px;
            padding-left: 35px;
            margin-bottom: 13px;
            display: block;
        }
    }

    .visual {
        text-align: center;

        img {
            width: 100%;
            max-width: 423px;
            margin-top: 60px;
        }
    }
}